a {
  color: #00B7FF;
}

.switch.active
{
  background-color: #5cb85c;
  border: 1px solid #5cb85c;
}
.switch
{
  background-color: #d9534f;
  border: 1px solid #d9534f;
}

select {width: 400px;}

.td-inverse {
  background-color: #000000;
  color: #FFFFFF;
}

.no-border {
  border-left: 0px !important;
  border-right: 0px !important;
  border-bottom: 0px !important;
  border-top: 0px !important;
}

.red {
  background-color: #B31613;
  color: #FFFFFF;
}

.green {
  background-color: #06581F;
  color: #FFFFFF;
}

